.drawer
{
	width:100%;
	border-top:1px solid #033649;
	border-radius:3px;
}
.accordion-item
{
	border-bottom:1px solid #033649;
}
.accordion-item-active .accordion-header
{
	background:#036564;
	transition:.25s;
}
.accordion-item-active .accordion-header-icon
{
	color:#CDB380;
}
.accordion-item-active .accordion-header h1
{
	color:#CDB380;
}
.accordion-header
{
	background:#031634;
	padding:3em;
	cursor:pointer;
	border-right:1px solid #033649;
	border-left:1px solid #033649;
	transition:.25s;
}
.accordion-header h1
{
	float:left;
	font-size:200%;
	font-weight: normal;
	margin:0;
	line-height:1em;
	color:#036564;
	font-family: 'Rock Salt', cursive;
}
.accordion-content
{
	border-left:1px solid #033649;
	border-right:1px solid #033649;
	border-top:1px solid #033649;
	display:none;
	padding:20px;
	color:#E8DDCB;
	background:#CDB380;
	font-size:15px;
	line-height:1.45em;

}
.accordion-content p
{
	margin:0;
	margin-bottom: 3px;
	font-size:125%;
}

.accordion-content img{
float:left;
}
.accordion-header-icon
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	float:right;color:#888;
	font-size: 15px;
	vertical-align: middle;
}
.accordion-header-icon.accordion-header-icon-active
{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	color:#fff;
}
